<script type="text/ng-template" id="rankingPopover.html">
	<div class="row padding-horizontal-10 text-center">
		<div class="col-xs-6 font-size-12 color-999 no-padding text-left">
			<span>用户</span>
		</div>
		<div class="col-xs-6 font-size-12 color-999 no-padding text-right">
			<span>收藏</span>
		</div>

	</div>
	<div class="row padding-horizontal-10 text-center" ng-repeat="ranking in rankingList | orderBy:'ranked':false">
		<div class="col-xs-8 no-padding text-inline text-left">
			<a target="_blank" ui-sref="public.user-zone.favorite({userId:ranking.userId})">
				{{ranking.nickName||ranking.userName}}
			</a>
		</div>
		<div class="col-xs-4 no-padding text-right">
			<span>{{ranking.favoriteSiteCount}}</span>
		</div>
	</div>
	<div class="row text-center">
		<a class="color-999 font-size-12" ui-sref="public.ranking.page">
			查看更多
		</a>
	</div>
</script>

<script type="text/ng-template" id="introduceTooltip.html">
	<a target="_blank" ui-sref="public.introduce" class='padding-vertical-10'>小魔导为您指路~</a>
</script>


<div class="row">

	<div class="col-sm-8 col-xs-12">
		<div class="input-group">
			<span class="input-group-btn ">
        					<button ng-click="search.toSearch()" class="btn btn-default " type="button ">
        					搜本站
        					</button>
     			 		</span>
     		
			<input type="text" ng-enter="search.bdSearch()" ng-model="search.keyword" focus-me-pc class="form-control" placeholder="输入关键字..." />
			<!--<div uib-dropdown keyboard-nav style="height: 34px;">
				<input type="text" ng-enter="search.toSearch()" ng-model="search.keyword" uib-dropdown-input class="form-control" placeholder="输入关键字..." />
				<ul class="dropdown-menu" uib-dropdown-menu>
					<li>
						<a ng-href="javascript:void(0)">百度(100)</a>
					</li>
					<li>
						<a ng-href="javascript:void(0)">搜狗(50)</a>
					</li>
					<li>
						<a ng-href="javascript:void(0)">知乎(20)</a>
					</li>
					<li role="separator" class="divider"></li>
					<li>
						<a ng-href="javascript:void(0)">维基(1000)推荐</a>
					</li>
				</ul>
			</div>-->

			<span class="input-group-btn ">
        					<button ng-click="search.bdSearch()" class="btn btn-primary " type="button ">
        					百度一下
        					</button>
     			 		</span>

		</div>
	</div>
	<div class="col-sm-2 hidden-xs">
		<div class="input-group">
			<div class="input-group-btn text-center">
				<button class="btn btn-link color-444" type="button" ng-click="openGame()">
							<i class="iconfont icon-magicwand"></i>
							黑魔法
							</button>
			</div>
		</div>

	</div>
	<div class="col-sm-2 hidden-xs">

		<div class="magic-pet" uib-popover-template="'rankingPopover.html'" popover-title="收藏达人" popover-placement="bottom" popover-trigger="'outsideClick'" tooltip-placement="left-bottom" uib-tooltip-template="'introduceTooltip.html'" tooltip-is-open="true" tooltip-trigger="click" tooltip-popup-close-delay="1500">
			<img src="img/xiaomodao.png" />
		</div>

	</div>
</div>
<hr class="margin-vertical-15">
<div class="row hidden-sm hidden-md hidden-lg panel-group">
	<div class="col-xs-12">
		<div class="row">
			<div class="col-xs-6">
				<div class="input-group">
					<div class="input-group-btn text-center">
						<button class="btn btn-link color-444" type="button" ng-click="openGame()">
							<i class="iconfont icon-magicwand"></i>
							黑魔法
							</button>
					</div>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="magic-pet" uib-popover-template="'rankingPopover.html'" popover-title="收藏达人" popover-placement="bottom" popover-trigger="'outsideClick'" tooltip-placement="left-bottom" uib-tooltip-template="'introduceTooltip.html'" tooltip-is-open="true" tooltip-trigger="click" tooltip-popup-close-delay="1500">
					<img src="img/xiaomodao.png" />
				</div>

			</div>
		</div>

	</div>
</div>

<div ui-view="home-content-site">

</div>
<div class="row">
	<div class="col-xs-12">
		<div class="panel panel-success">
			<div class="panel-heading padding-vertical-10">
				<span>
					社区帖子-[{{$root.categoryName||"不限分类"}}]
				</span>
				<a target="_blank" ui-sref="forum.index.post.all({tags:$root.categoryName})" class="pull-right color-999 btn btn-link btn-link-right">
					查看更多
				</a>
			</div>
			<div class="panel-body media-list">
				<div ui-view="home-content-post">

				</div>
			</div>
		</div>

	</div>

</div>