<div ng-if="contentHeader.show" drop-channel="site" ui-on-drop="onFavoriteDrop($data,$event)" class="row content-header-panel">
	<div class="col-xs-12 padding-vertical-5">
		<div class="col-xs-5">
			<button ng-click="$root.openContentModal('newFavoriteSiteModal','')" class="btn btn-link btn-link-stable no-padding-horizontal">
							<i class="iconfont"></i>
							<i class="fa fa-plus-circle"></i>
							添加网站
						</button>
		</div>
		<!--<div class="col-xs-7">
			<a ui-sref="public.favorite" class="btn btn-link btn-link-success pull-right">
				<i class="glyphicon glyphicon-resize-full"></i>
			</a>
			<button ng-click="$root.openContentModal('favoriteModal')" type="button" class="btn btn-link btn-link-success pull-right no-padding-horizontal">
							<i class="iconfont icon-tuijian"></i>
							推荐收藏夹
						</button>
		</div>-->
	</div>
	<div class="col-xs-12">

		<div class="col-xs-12">
			<ul class="nav nav-pills" dnd-list="favoriteList" dnd-horizontal-list="true" dnd-inserted="onFavoriteDndInserted(event, index, item, external)">
			<li ui-sref-active="active" ng-repeat="favorite in favoriteList | orderBy:'sortIndex':false" dnd-draggable="favorite" dnd-moved="favoriteList.splice($index, 1);" dnd-effect-allowed="copyMove">
				<a ui-sref="home.index.site.favorite.detail({favoriteId:favorite.favoriteId})">
					<span class="text-red" ng-if="favorite.userId!=favorite.ownerId">*</span>
					<span ng-if="favorite.userId!=favorite.ownerId">
								{{favorite.ownerName||"系统推荐"}}-
							</span> {{favorite.favoriteName}}({{favorite.siteCount}})
				</a>
			</li>
			<li ng-if="favoriteList" class="">
				<a ng-href="javascript:void(0)" class="btn btn-link" ng-click="$root.openContentModal('newFavoriteModal','')">
					<i class="glyphicon glyphicon-plus"></i>
				</a>
				<a ng-if="favoriteList.length>0" ng-href="javascript:void(0)" class="btn btn-link" ng-click="delFollowFavorite($event)">
					<i class="fa fa-trash"></i>
				</a>
			</li>
		</ul>
		<div class="tab-content">
			<div ui-view="home-favorite-detail">

			</div>
		</div>
			
		</div>
		

	</div>

</div>
<div class="content-header-line">
	<span class="line-circle" ng-click="contentHeader.toggle()">
				<i class="fa fa-star"></i>
			</span>
</div>