<!-- begin #page-loader -->
<!--<div id="page-loader" class="in"><span class="spinner"></span></div>-->
<!-- end #page-loader -->

<!-- begin #page-container -->
<div id="page-container" class="page-sidebar-fixed page-header-fixed" ng-class="{'page-sidebar-toggled':$root.settings.layoutHome.sidebar.show}">

	<!-- begin #header -->
	<div ng-include="'templates/home/layouts/header.html'">
	</div>

	<div ng-include="'templates/home/layouts/sidebar.html'">
	</div>

	<!-- begin #content -->
	<div id="content" class="content" on-scroll-true="$root.settings.layoutHome.headerSearch.show">
		
		
		
		
		
		
		<div ui-view="home-content">

		</div>
		

		<div ng-include="'templates/home/layouts/footer.html'" class="clearfix">
		</div>
		
		<div uib-alert ng-repeat="msg in $root.tips.message" 
			dismiss-on-timeout="{{msg.duration}}" 
			class="text-center content-tips" ng-class="'alert-' + (msg.type || 'success')" close="$root.tips.close($index)">
			{{msg.text}}
		</div>
	</div>
	<!-- end #content -->

</div>
<!-- end page container -->


