<div id="header" class="header navbar navbar-default navbar-fixed-top">
	<!-- begin container-fluid -->
	<div class="container">
		<!-- begin mobile sidebar expand / collapse button -->
		<div class="navbar-header text-center">
			<h1>
				<a title="魔导网,发现优秀的网站." ui-sref="forum.index.post.all.page" class="navbar-brand">
					<img class="logo" alt="魔导网,发现优秀的网站." src="img/logo-sm.png" />
					<span class="text-default">魔导社区
					<span class="hidden-xs" data-ng-bind="'- '+$state.current.data.pageTitle"></span>
					</span>
				</a>
			</h1>
			
			<ul class="nav navbar-nav navbar-right">
			
			<li>
				<a ui-sref="home.index.site.common({categoryId:0})">导航</a>
			</li>
			
			<li>
				<a ng-href="/blog/" target="_blank">博客</a>
			</li>
			
			<!--消息end-->

			<li ng-if="!$root.modaowangUser||!$root.modaowangUser.token">
				<span ui-draggable="true" ng-click="$root.openContentModal('loginModal','')">登录</span>
			</li>
			<li ng-if="$root.modaowangUser&&$root.modaowangUser.token" class="dropdown navbar-user" uib-dropdown>
				<span ng-href="javascript:void(0);" class="dropdown-toggle" uib-dropdown-toggle>
					<img ng-src="{{$root.modaowangUser.user.icon||'img/user-icon.jpg'}}" alt="" />
					<span class="hidden-xs">{{$root.modaowangUser.user.nickName||$root.modaowangUser.user.userName}}</span> <b class="caret"></b>
					<span ng-if="$root.newMessageCount" class="label">{{$root.newMessageCount}}</span>
				</span>
				<ul class="dropdown-menu animated fadeInLeft" uib-dropdown-menu>
					<li class="arrow"></li>
					<li>
						<a ui-sref="public.user-profile.prize">个人中心</a>
					</li>
					<li>
							<a ui-sref="public.ranking.page">收藏达人</a>
						</li>
						<li>
							<a ui-sref="public.message.post">
								<span ng-if="$root.newMessageCount" class="badge badge-danger pull-right">
									{{$root.newMessageCount}}
								</span> 
									消息中心
							</a>
						</li>
					
					<li class="divider"></li>
					<li>
						<span ng-href="javascript:void(0)" ng-click="$root.logout()">退出登录</span>
					</li>
				</ul>
			</li>

		</ul>
		<!-- end header navigation right -->
			
		</div>
		<!-- end mobile sidebar expand / collapse button -->

		<!-- begin header navigation right -->
		
	</div>
	<!-- end container-fluid -->
</div>
<!-- end #header -->