<div class="modal-header">
	<h4 class="modal-title">黑魔法</h4>
</div>

<div class="modal-body">
	<div class="row">
		<div class="col-xs-12">
			<div class="panel-group">
				
				<div class="progress-green">
					<progress max="10" ng-value="userGame.chanceCount||0"></progress>
				</div>
				
				{{userGame.chanceCount||0}}次机会
				<a ng-click="exchangeChance()" ng-href="javascript:void(0)" class="color-999" ng-if="userGame.chanceCount<=5">
					<i class="glyphicon glyphicon-plus-sign"></i>
				</a>
				<span class="pull-right">
					积分{{userInfo.score}}
					<a class="color-999" ui-sref="public.score-explain" title="积分规则说明" target="_blank">
							<i class="glyphicon glyphicon-info-sign">
							</i>
						</a>
				</span>
			</div>
		</div>
		
		<div class="col-xs-12 panel-group">
			<div class="game-box-content">
				<div class="game-box col-xs-4">
					<div class="vertical-scroll">
						<div class="box-col col-xs-12" 
				ng-repeat="site in sites track by $index">
				<div class="box">
					<a ng-href="{{site.url}}" target="_blank" class="box-thumbnail" >
						
						
						<div class="box-img" >
							<img ng-src="{{site.favicon}}" /> 
						</div>
						
						<h5 title="{{site.url}}">{{site.name}}</h5>
						
					</a>
					<div class="box-menu btn-group">
							<button title="添加到常用" ng-if="!site.userCommon" ng-click="addCommonSite(site.siteId,$event)" type="button" class="btn btn-default">
							<i class="fa fa-heart">
								</i>
							</button>
							<button title="添加到收藏" ng-click="$root.openContentModal('selectFavoriteModal','',site,$event)" type="button" class="btn btn-default">
							<i class="fa fa-star">
								</i>
							</button>

						</div>
				</div>
			</div>
					</div>
				</div>
				<div class="game-box col-xs-4">
					<div class="vertical-scroll">
						<div class="box-col col-xs-12" 
				ng-repeat="site in sites track by $index">
				<div class="box">
					<a ng-href="{{site.url}}" target="_blank" class="box-thumbnail">
						
						
						<div class="box-img" >
							<img ng-src="{{site.favicon}}" /> 
						</div>
						
						<h5 title="{{site.url}}">{{site.name}}</h5>
						
					</a>
					<div class="box-menu btn-group">
							<button title="添加到常用" ng-if="!site.userCommon" ng-click="addCommonSite(site.siteId,$event)" type="button" class="btn btn-default">
							<i class="fa fa-heart">
								</i>
							</button>
							<button title="添加到收藏" ng-click="$root.openContentModal('selectFavoriteModal','',site,$event)" type="button" class="btn btn-default">
							<i class="fa fa-star">
								</i>
							</button>

						</div>
				</div>
			</div>
					</div>
				</div>
				<div class="game-box col-xs-4">
					<div class="vertical-scroll">
						<div class="box-col col-xs-12" 
				ng-repeat="site in sites track by $index">
				<div class="box">
					<a ng-href="{{site.url}}" target="_blank" class="box-thumbnail" >
						
						
						<div class="box-img" >
							<img ng-src="{{site.favicon}}" /> 
						</div>
						
						<h5 title="{{site.url}}">{{site.name}}</h5>
						
					</a>
					<div class="box-menu btn-group">
							<button title="添加到常用" ng-if="!site.userCommon" ng-click="addCommonSite(site.siteId,$event)" type="button" class="btn btn-default">
							<i class="fa fa-heart">
								</i>
							</button>
							<button title="添加到收藏" ng-click="$root.openContentModal('selectFavoriteModal','',site,$event)" type="button" class="btn btn-default">
							<i class="fa fa-star">
								</i>
							</button>

						</div>
				</div>
			</div>
					</div>
				</div>
			</div>
		</div> <!--end xs-12-->
		
		<div class="col-xs-12 text-center panel-group">
			<div ng-disabled="timeCount>0||!sites" class="btn btn-lg btn-success" ng-click="start()">
				<i class="iconfont icon-magicwand"></i>
				开始
			</div>
		</div>
		
		<div class="col-xs-12">
			<div class="panel border-eee-1">
				<div class="panel-body color-666">
				<p>
					奖项说明
				</p>
				<ol>
					<li>
						<span>
							<img class="img-xs" src="img/xiaomodao.png"/>
							x3,
						</span>
						<span>获得2-20元现金红包</span>
					</li>
					<li>
						<span>
							<img class="img-xs" src="img/logo-sm.png"/>
							x3,
						</span>
						<span>获得5积分</span>
					</li>
					<li>
						<span>
							<i class="fa fa-question"></i>
							x3,
						</span>
						<span>获得3积分</span>
					</li>
					
					<li>
						<span>
							<i class="fa fa-question"></i>
							,
						</span>
						<span>可能发现了有趣的网站</span>
					</li>
					
				</ol>
			</div>
			</div>
			
		</div>
		
		
		
	</div>
</div>

<div class="modal-footer">
		<a class="btn btn-default" type="button" ui-sref="public.user-profile.prize" target="_blank">
			中奖记录
		</a>
	<button class="btn btn-danger" type="button" ng-click="cancel()">退出</button>
</div>