
<div class="row" ng-if="favoriteList&&favoriteList.length>0">
	<div class="col-xs-12">
		<uib-tabset active="activeTab" class="tab-default">

			<uib-tab index="$index" ng-repeat="favorite in favoriteList track by favorite.favoriteId" select="getSiteByFavorite(favorite.favoriteId)">
				<uib-tab-heading>
					<span>
								{{favorite.ownerName||"系统推荐"}}-
						</span> {{favorite.favoriteName}}({{favorite.siteCount}})
				</uib-tab-heading>
				<div perfect-scrollbar opts="{wheelSpeed: 1,wheelPropagation: false,minScrollbarLength: 20}">
					<div class="col-xs-12 content-header-panel" data-scrollbar="true" data-height="100%">
						<div class="row padding-vertical-5">

							<div class="col-xs-12">
								<button ng-if="!favorite.userFollowed" type="button" ng-click="followFavorite()" class="btn btn-link btn-link-success pull-right">
							<i class="fa fa-star-o"></i>
							关注此收藏夹
								</button>
								<button ng-if="favorite.userFollowed" type="button" ng-click="delFollowFavorite()" class="btn btn-link btn-link-stable pull-right">
							<i class="fa fa-close"></i>
							取消关注
								</button>
							</div>
						</div>

						<div class="row">

							<div class="box-col col-xs-6 col-sm-4 col-md-3 col-lg-2" ng-repeat="site in favoriteSiteList">
								<div class="box">
									<a ng-href="{{site.url}}" target="_blank" class="box-thumbnail">

										<div class="box-img">
							<img ng-src="{{site.favicon}}" /> 
						</div>
										<h5 title="{{site.url}}">{{site.siteName}}</h5>

									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</uib-tab>

		</uib-tabset>
	</div>
	<!--end xs-12-->

</div>