
<ol class="row panel-group">
	<li class="col-xs-12">
		<div class="panel">
			<div class="panel-heading text-green">
				<i class="fa fa-location-arrow"></i>
				网站导航
			</div>
			<div class="panel-body">
				<ul>
					<li>
						魔导网收集了数千个实用或有趣的网站，按照上网习惯归为几十个大分类，每个大分类下面再细分小分类，让你更轻松发现好用的网站。
					</li>
					<li>
						你可以在登录之后，通过点击当鼠标悬停在网站格子时出现的<i class="fa fa-heart"></i>将其添加到"常用"栏里面，每次打开魔导网就可以第一时间看到这些网站了。
					</li>
				</ul>

			</div>
		</div>
	</li>
	<li class="col-xs-12">
		<div class="panel">
			<div class="panel-heading text-green">
				<i class="glyphicon glyphicon-search"></i>
				内容搜索
			</div>
			<div class="panel-body">
				<ul>
					<li>
						魔导网提供站内搜索和百度跳转搜索，站内搜索可以搜索到相关网站和社区帖子。
					</li>
				</ul>
			</div>
		</div>
	</li>
	<li class="col-xs-12">
		<div class="panel">
			<div class="panel-heading text-green">
				<i class="fa fa-star"></i>
				网站收藏
			</div>
			<div class="panel-body">
				<ul>
					<li>
						你可以在登录之后，通过点击当鼠标悬停在网站格子时出现的<i class="fa fa-star"></i>将其添加到收藏夹，网站初始提供一个"默认收藏夹"，你可以根据自己的需要，添加更多的收藏夹。
					</li>
					<li>
						通过点击首页的"小魔导"，可以查看网站的收藏达人排行榜，在达人们的公开收藏夹中发现更多的惊喜.
					</li>
				</ul>
			</div>
		</div>
	</li>
	<li class="col-xs-12">
		<div class="panel">
			<div class="panel-heading text-green">
				<i class="glyphicon glyphicon-comment"></i>
				网站社区
			</div>
			<div class="panel-body">
				<ul>
					<li>
						找网贴专区：如果导航和搜索功能都找不到自己想要的网站，那么你可以在找网贴专区发布一个帖子来描述你想要找什么样的网站，网站管理员和各路达人将会给你一个满意的答案。发布找网贴将会至少消耗1个积分，同时发布者可以在回复中选择一个最佳回复，该回复的作者将获得这些积分。
					</li>
					<li>
						分享贴专区：如果你知道一些实用或者有趣的网站，可以在这里分享这些好用的网站，发布优质的分享贴将会得到网站管理员1-5个积分的奖励。
					</li>
				</ul>
			</div>
		</div>
	</li>
	<li class="col-xs-12">
		<div class="panel">
			<div class="panel-heading text-green">
				<i class="fa fa-calendar-plus-o"></i>
				收藏门
			</div>
			<div class="panel-body">
				<ul>
					<li>
						在首页导航栏右侧的"收藏门"处点击并按住鼠标左键，将其拖动到浏览器的书签栏上，当使用此浏览器上网时，遇到任何你喜欢的网站，都可以通过点击书签栏上的"收藏门"来将该网站收藏到你的魔导网收藏夹中。
						<img src="img/shoucangshenqi.png" />
					</li>
				</ul>
			</div>
		</div>
	</li>
	<li class="col-xs-12">
		<div class="panel">
			<div class="panel-heading text-green">
				<i class="iconfont icon-magicwand"></i>
				黑魔法
			</div>
			<div class="panel-body">
				<ul>
					<li>
						点击首页的"<i class="iconfont icon-magicwand"></i>黑魔法"进入黑魔法抽奖游戏，通过游戏可以发现好用的网站、获得网站积分、赢取现金红包。网站每天都会奖励用户10次游戏机会，同时你可以使用网站积分来兑换游戏机会。
					</li>
				</ul>
			</div>
		</div>
	</li>
	
	
</ol>
