
<div class="row panel-group">
	<div class="col-xs-12 col-sm-6">
		<div class="panel panel-success">
			<div class="panel-heading">
				积分的获取
			</div>
			<div class="panel-body">
				<ol>
					<li>发布
						<a ui-sref="forum.index.post.share" >分享贴</a>，
						可获取管理员的奖励。
					</li>
					<li>
						回复
						<a ui-sref="forum.index.post.request" >找网贴</a>，
						可获取贴主的赏分。
					</li>
					<li>玩<a ui-sref="home.index.site.common({categoryId:0})" >黑魔法</a>，
						可获取游戏的中奖积分。
					</li>
				</ol>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-6">
		<div class="panel panel-danger">
			<div class="panel-heading">
				积分的使用
			</div>
			<div class="panel-body">
				<ol>
					<li>发布
						<a ui-sref="forum.index.post.request" >找网贴</a>，
						发现自己想找的网站。
					</li>
					
					<li>兑换<a ui-sref="home.index.site.common({categoryId:0})" >黑魔法</a>机会，
						赢取更多的惊喜.
					</li>
					<li>可在定期开办的积分兑换活动换取礼品。
					</li>
				</ol>
			</div>
		</div>
	</div>
	
</div>
