<div class="row panel-group">
	<div class="col-xs-12 col-sm-6">
		<h3 class="bold no-margin-top">{{postDetail.title}}</h3>

	</div>
	<div class="col-xs-12 col-sm-6 ">

		<h5 class="no-margin-top line-height-33" ng-if="postDetail.type==0">
			<i ng-if="!postDetail.awardedReplyId" class="text-red fa fa-question-circle-o"></i>
			<i ng-if="postDetail.awardedReplyId" class="text-green fa fa-check-circle-o"></i>
			赏分:
			<span class="text-red">{{postDetail.bonusScore}}</span>
		</h5>
		<h5 class="no-margin-top line-height-33" ng-if="postDetail.type==1">
			<i class="text-green fa fa-share-alt"></i>
			地址:<a class="text-green" ng-href="{{postDetail.urls}}" title="{{postDetail.urls}}" >
				{{postDetail.urls}}
			</a>
		</h5>

	</div>

	<div class="col-xs-12">
		<div class="avatar-left">
			<img ui-sref="public.user-zone.favorite({userId:postDetail.userId})" ng-src="{{postDetail.userIcon||'img/user-icon.jpg'}}" />
			<h4>
				<a ui-sref="public.user-zone.favorite({userId:postDetail.userId})">
					<label class="no-margin">
						
					</label>
					{{postDetail.nickName||postDetail.userName}}
				</a>
				
			</h4>
			<p class="text-inline">
				{{postDetail.createTime|date:'yyyy-MM-dd HH:mm:ss'}}
			</p>
		</div>
	</div>
	<div class="col-xs-12">
		<div class="post-content-panel">
			<div class="text-free" ng-bind-html="postDetail.content|trustHtml"></div>
			
			
					<div class="pull-right">
						<button ng-click="postPraise(postDetail.id)" ng-class="{'btn-link-success':postDetail.userPraised}" class="btn btn-link">
							<i class="fa" ng-class="{'fa-thumbs-up':postDetail.userPraised,'fa-thumbs-o-up':!postDetail.userPraised}">
								
							</i>
							赞<span>({{postDetail.praiseCount||0}})</span>
							</button>
						<button class="btn btn-link">
								<i class="fa fa-comment-o"></i>
								评论<span>({{postDetail.replyCount||0}})</span>
							</button>
					</div>
					<div class="clearfix"></div>
			
					<div text-angular ng-model="newParams.content" 
							ta-toolbar="[
									['insertLinkC', 'insertImageC', 'insertVideoC','uploadImage']
									]"
						ta-html-editor-class="editor-sm" 
						ta-text-editor-class="editor-sm"
						placeholder="输入评论..."
						ta-resize-force-aspect-ratio="true"
						>
						
					</div>

					<div class="btn-group pull-right">
						<button ng-click="clear()" class="btn btn-default">
											清空
										</button>
						<button ng-click="submit()" class="btn btn-default text-green">
											提交
										</button>
					</div>
					<div class="clearfix"></div>
		</div>
		
	</div>
	<!--end post content-->

</div>

		<ul class="media-list row bg-light ">
			<li class="media row" ng-if="params.total>0">
				<div class="col-xs-12 text-center">
					<button ng-if="$root.previous" ng-click="$root.goPrevious()" class="btn btn-sm btn-link pull-left">
						<i class="glyphicon glyphicon-chevron-left"></i>
						返回列表
					</button>
					
					<ul ng-change="changePage()" uib-pagination total-items="params.total" ng-model="params.pageNum" items-per-page="params.pageSize" max-size="5" class="pagination-sm no-margin" boundary-link-numbers="true" rotate="false" previous-text="上一页" next-text="下一页"></ul>
				</div>
			</li>
			<div ui-view="post-detail-page">
				
			</div>

			

			<li class="media row" ng-if="params.total>0">
				<div class="col-xs-12 text-center">
					<ul ng-change="changePage()" uib-pagination total-items="params.total" ng-model="params.pageNum" items-per-page="params.pageSize" max-size="5" class="pagination-sm no-margin" boundary-link-numbers="true" rotate="false" previous-text="上一页" next-text="下一页"></ul>
				</div>
			</li>
		</ul>
